<div class="container">

  <h1 class="modal-title fs-5" id="exampleModalLabel">Agrega un producto</h1>
  <form #formAdd>
    <div class="modal-body">
      <div class="mb-3 form-check">
        <label for="precio" class="form-label">ID del producto</label>
        <ion-input type="number" class="form-control" [(ngModel)]="idInput" name="id" required="true"></ion-input>
      </div>
      <div class="mb-3">
        <label for="nombreProducto" class="form-label">Nombre del producto</label>
        <ion-input type="text" class="form-control" [(ngModel)]="titleInput" name="nombreProducto" required="true"></ion-input>
      </div>
      <div class="mb-3 form-check">
        <label for="precio" class="form-label">Precio del producto</label>
        <ion-input type="number" class="form-control" [(ngModel)]="priceInput" name="precio" required="true"></ion-input>
      </div>
      <div class="mb-3">
        <label for="descripcion" class="form-label">Descripción del producto</label>
        <ion-input type="text" class="form-control" [(ngModel)]="descriptionInput" name="descripcion" required="true"></ion-input>
      </div>
      <div class="mb-3">
        <label for="categoria" class="form-label">Categoría del producto</label>
        <ion-input type="text" class="form-control" [(ngModel)]="categoryInput" name="categoria" required="true"></ion-input>
      </div>
      <div class="mb-3 form-check">
        <label for="image" class="form-label">Dale una imagen a tu producto</label>
        <ion-input type="text" class="form-control" [(ngModel)]="imageInput" name="imagen" required="true"></ion-input>
      </div>
      <div class="mb-3 form-check">
        <ion-label for="rate" class="form-label">Rate</ion-label>
        <ion-input type="text" class="form-control" [(ngModel)]="ratingInput" name="rate" required="true"></ion-input>
      </div>
      <div class="mb-3 form-check">
        <ion-label for="count" class="form-label">Cantidad</ion-label>
        <ion-input type="text" class="form-control" [(ngModel)]="countInput" name="count" required="true"></ion-input>
      </div>
      <ion-button (click)="saveProduct()">Save</ion-button>
    </div>
  </form>

  {{mensajePadre}}
</div>